@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none; 
}

input[type='number'],
input[type="number"]:hover,
input[type="number"]:focus {
    appearance: none;
    -moz-appearance: textfield;
}

input {outline:none;}



body {
    margin: 0px;
    background-color: #121212;
    font-family: 'Poppins', sans-serif;
    display: flex;
    justify-content: center;
}

.main {
    width: 250px;
    height: 100vh;
    /* display: block; */
    /* align-items: center; */
    color: #FFFFFF;
}

.input {
    width: 230px;
    height: 50px;
    border-width: 0px;
    padding: 0px 0px;
    background: #FFFFFF;
    /* border: 5px solid #666666; */
    /* box-shadow: 0px 0px 50px 15px #000000; */
    border-radius: 100px;
    margin-top: 20px;
    font-size: 20px;
    font-weight: 650;
    padding-left: 10px;
    padding-right: 10px;
    transition: 0.2s;
}

.input:hover {
    box-shadow: 0px 0px 50px 15px #404040;
}

.send:hover {
    text-shadow: 0px 5px 5px rgba(255, 255, 255, 1);
}

.send:active {
    text-shadow: 0px 0px 5px #FFFFFF;
}

.text {
    margin-top: 300px;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
    display: flex;
    justify-content: center;
    transition: 0.15s;
}

.text:hover {
    text-shadow: 0px 0px 5px #FFFFFF;
    /* border: 0.5px solid #FFFFFF; */
}

.send {
    display: flex;
    justify-content: center;
    background-color: #121212;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
    color: #FFFFFF;
    border-width: 0px;
    margin-top: 10px;
    padding: 0px 0px;
    width: 250px;
    transition: 0.1s;
}

.clear {
    margin-top: 300px;
    display: flex;
    justify-content: center;
    background-color: #121212;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
    color: #FFFFFF;
    border-width: 0px;
    /* margin-top: 10px; */
    padding: 0px 0px;
    width: 250px;
    transition: 0.1s;

    margin-top: calc(50vh - 30px - 100px - 22px);
}

.clear:hover {
    text-shadow: 0px 0px 5px #FFFFFF;
    /* border: 0.5px solid #FFFFFF; */
}

.clear:active {
    text-shadow: 0px 0px 10px #FFFFFF;
    /* border: 0.5px solid #FFFFFF; */
}

.container {
    margin-top: 10px;
    width: 244px;
    height: 94px;
    border: 3px solid #FFFFFF;
    display: flex;
    /* flex-wrap: wrap; */
    flex-direction: column;
    justify-content: center;
    transition: 0.15s;
}

.container:hover {
    border: 3px solid rgb(255, 255, 255, 0);
}

.t {
    padding-left: 10px;
    font-style: normal;
    font-weight: 550;
    font-size: 15px;
    line-height: 22px;
}

.by {
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 22px;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    transition: 0.1s;
    text-decoration: none;
    color: #ffffff;
}

.by:hover {
    /* text-shadow: 0px 5px 4px rgba(255, 255, 255, 0.25); */
    text-shadow: 0px 5px 10px #FFFFFF;
} 
